* {
  box-sizing:border-box;
}

:root {
  /*background-color: red;*/
  font-family: 'Merriweather', serif;
  color: #2D3945;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #2D3945;
  color: #8C8E90;

  display: flex;
  justify-content: center;
}

main {
  background-color: white;

  flex: 1;

  padding: 0 0.8em;
}

footer {
  min-height: 180px;
  padding: 2em 0;

  display: flex;
  justify-content: center;
}

footer,
.subtitle {
  color: #B7BCBf;
}

fieldset {
  border-bottom: solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;

  margin:0;
  padding: 2em 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1em;
}

select,
input::placeholder {
  color: grey;
}

input::placeholder {
  font-style: italic;
}

input[type="submit"],
button[type="submit"] {
  padding: 1.3em;
  background-color: #4BB3B6;
  font-weight: bold;
  color: white;
}

input,
select,
textarea {
  padding: 1em;
  background-color: #EFF0F1;
  border-style: none;
  border-radius: 5px;
}

label[for="other-topics"] {
  margin-bottom: 1em;
  display:block;
}

legend {
  padding-top: 2em;
}

legend h3 {
  margin: 0;
}

:placeholder-shown {
  text-align: right;
}

.form-group,
.form-checkbout-radio-group {
  margin-bottom: 0.9em;
}

#form-newsletter .form-group {
  margin-bottom: 2em;
}

#form-newsletter .form-group:last-child {
  margin-bottom: 0;
}

#form-newsletter p {
  margin-top: 0;
}

#form-newsletter textarea {
  width: 100%;
  height: 150px;
}

#form-contact-information .form-group {
  display: flex;
  flex-wrap: wrap;
}

#form-contact-information label {
  margin-bottom: 0.4em;
  display:flex;
  align-items:center;
}

#form-contact-information label,
#form-contact-information input,
#form-state {
  width: 100%;
}

#form-zip-code {
  width: 100px;
}

.logo {
  margin: 0;
  font-size: 1.20em;
}

.logo a {
  padding: 1em;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-headline {
  border-bottom: solid 2px;
  text-align: center;
}

.newsletter-headline > div {
  padding: 1em;
}

.newsletter-headline > hr {
  margin: 2px 0;
  height: 5px;
  background-color: black;
}

.newsletter-headline .title {
  font-size: 1.25em;
}


@media screen and (min-width: 768px) {
  main {
    width: 80%;
    max-width: 768px;
    margin: auto;
  }

  footer {
    min-height: 210px;
  }

  #form-contact-information .form-group {
    flex-wrap: nowrap;
  }

  #form-contact-information label {
    width: 23%;

    margin: 0em;
  }

  #form-contact-information input,
  #form-contact-information select {
    width: 77%;
  }

  .newsletter-headline > div {
    padding: 2em 1em;
  }

  .newsletter-headline .title {
    font-size: 1.5em;
  }
}
