:root {
  background-color: red;
  font-family: 'Merriweather', serif;
  color: #2D3945;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #2D3945;
  color: #8C8E90;

  display: flex;
  justify-content: center;
}

main {
  background-color: white;
  flex: 1;
}

footer {
  color: #B7BCBf;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  main {
    width: 80%;
    max-width: 768px;
    margin: auto;
  }
}
