:root {
  background-color: red;
  font-family: 'Merriweather', serif;
}

body {
  max-width: 768px;
  background-color: white;
  height: 600px;
  margin: 0 auto;
}

.reset-default-prop {
  padding: 0;
}

@media screen and (min-width: 768px) {

}
