:root {
  background-color: red;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2D3945;
}

main {
  max-width: 768px;
  margin: auto;
  background-color: white;
}

@media screen and (min-width: 768px) {

}
